root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2

[*.{cs,cpp,h,c,cc,cxx,hpp,hxx}]
indent_size = 4

[*.{cpp,h,c,cc,cxx,hpp,hxx}]
cpp_indent_braces = false
cpp_indent_multi_line_relative_to = statement_begin
cpp_new_line_before_open_brace_namespace = new_line
cpp_new_line_before_open_brace_type = new_line
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = new_line
cpp_new_line_before_catch = true
cpp_new_line_before_else = true
cpp_new_line_before_finally = true
cpp_space_before_function_open_parenthesis = false
cpp_space_within_parameter_list_parentheses = true
cpp_space_between_empty_parameter_list_parentheses = true
cpp_space_after_keywords_in_control_flow_statements = true
cpp_space_within_control_flow_statement_parentheses = true
cpp_space_before_semicolon_in_for_statement = false
cpp_space_after_semicolon_in_for_statement = true
cpp_space_around_binary_operator = insert
cpp_space_around_assignment_operator = insert

[*.xaml]
charset = utf-8-bom

[*.cs]
charset = utf-8-bom
# New line settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indentation settings
csharp_indent_case_contents = true
csharp_indent_switch_labels = false
csharp_indent_labels = one_less_than_current

# Spacing settings
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_method_call_empty_parameter_list_parentheses = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = true
csharp_space_between_parentheses = control_flow_statements, expressions

# Style settings
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_prefer_braces = false:silent
csharp_preserve_single_line_blocks = true
csharp_using_directive_placement = outside_namespace:silent
